.avtor__profile{
   margin-top: 50px;
   margin-bottom: 50px;
}
.avtor__info{
   display: flex;
}

.avtor__profile .avotr__imge{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 50px;
}
.avtor__title{
   font-size: 40px;
   line-height: 48px;
   margin-bottom: 32px;
   color: #222222;
}
.avtor__text{
   font-weight: 500;
   position: relative;
   width: 50vw;
   color: #222;
   line-height: 24px;
   padding: 8px 12px;
   background: #F6F8F9;
   border-radius: 4px;
   margin-bottom: 10px;
}
.avtor__text:nth-child(2n +1){
   background-color: transparent;
}
.avtor__subtext{
   position: absolute;
   left: 50%;
   font-weight: 400;
}

@media screen and (max-width: 768px) {
   .avtor__info{
      flex-direction: column;
      align-items: center;
   }
   
   .avtor__profile .avotr__imge{
      margin: 0;
      margin-bottom: 24px;
   }
   .popular__title{
      text-align: center;
   }
   .avtor__text{
      width: 80vw;
   }
   .avtor__title{
      text-align: center;
   }
}
@media screen and (max-width: 480px) {
   .avtor__title{
      font-size: 28px;
   }
   .avtor__text{
      width: 90vw;
   }
}
.log__out{
   display: flex;
   justify-content: flex-end;
   margin-top: 40px;
}
.log__out button{
   padding: 12px 24px;
   border: none;
   font-weight: 700;
   color: #fff;
   background-color: tomato;
   font-size: 16px;
   border-radius: 5px;
   cursor: pointer;
}