.home {
  margin-top: 48px;
}
.home img {
  width: 600px;
  height: 388px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 24px;
}
@media screen and (max-width: 1099px) {
  .home img {
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .home img {
    margin-right: 0;
  }
}
@media screen and (max-width: 540px) {
  .home img {
    max-width: 350px;
    z-index: -1;
  }
}
@media screen and (max-width: 380px) {
  .home img {
    max-width: 100%;
  }
}

.home .list__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
@media screen and (max-width: 768px) {
  .list__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.home .home__write {
  max-width: 530px;
}

@media screen and (max-width: 768px) {
  .home .home__write {
    text-align: center;
    margin: 0 auto;
  }
}

.home .home__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 24px;
  color: #222222;
}
@media screen and (max-width: 890px) {
  .home .home__title {
    font-size: 24px;
    line-height: 32px;
  }
}
.home__date {
  display: none;
  margin-top: 7px;
  line-height: 24px;
  color: #aebec9;
}
.home__list.active .home__date {
  display: block;
}
.home__text {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 48px;
  color: #555555;
}
@media screen and (max-width: 890px) {
  .home__text {
    font-size: 16px;
    line-height: 24px;
  }
}
.home__link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 47px;
  background: #1b5bf7;
  border: 1px solid #1b5bf7;
  box-sizing: border-box;
  border-radius: 8px;
}
.read__title {
  font-weight: 500;
  margin: 32px 0;
  font-size: 32px;
  line-height: 37px;
  color: #2d2d2d;
}
.read__text {
  font-size: 18px;
  line-height: 24px;
  color: #2d2d2d;
}
.read__text span {
  display: block;
  margin-bottom: 20px;
}
.read__img {
  max-width: 800px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.read__write {
  max-width: 800px;
  margin-bottom: 32px;
}
@media screen and (max-width: 998px) {
  .read__img {
    max-width: 100%;
  }
}
.read__aside {
  margin-left: 24px;
}
.read__content {
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
}

@media screen and (max-width: 1099px) {
  .read__content {
    flex-direction: column;
  }
}

.aside__title {
  margin-bottom: 24px;
}
.aside__box {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.aside__box img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.aside__subtitle {
  margin-left: 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.aside__text {
  margin-left: 22px;
  color: #555555;
  margin-bottom: 5px;
}
.aside__time {
  line-height: 24px;
  margin-left: 22px;
  color: #728d9f;
}

.home__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 50px;
}
.filter__title {
  font-size: 24px;
  font-weight: 500;
  color: #1d1a2f;
}
.filter__btn {
  cursor: pointer;
  font-size: 32px;
  height: 42px;
  color: #1b5bf7;
  padding: 5px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  margin-left: 20px;
  transition: background-color 0.3s ease-in, color 0.3s ease-in-out;
}
.filter__btn:hover {
  background-color: #1b5bf7;
  color: #fff;
}
.filter__btn:first-child {
  margin-left: 0;
}
.filter__btn:focus {
  color: #fff;
  background-color: #1b5bf7;
}

.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 1099px) {
  .active {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .active {
    justify-content: space-around;
  }
}

.home__list.active .home__imge {
  width: 360px;
  height: 300px;
  margin-right: 0;
}
@media screen and (max-width: 1181px) {
  .home__list.active .home__imge {
    max-width: 300px;
    height: 240px;
  }
}
@media screen and (max-width: 1099px) {
  .home__list.active .home__imge {
    max-width: 300px;
    height: 240px;
  }
}
@media screen and (max-width: 680px) {
  .home__list.active .home__imge {
    max-width: 660px;
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .home__list.active .home__imge {
    max-width: 360px;
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .home__list.active .home__imge {
    max-width: 260px;
    height: 200px;
    text-align: center;
  }
}
.home__list.active .list__item {
  /* display: block; */
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 24px;
}

@media screen and (max-width: 680px) {
  .home__list.active .list__item {
    margin-right: 0;
  }
}

.home__list.active .home__write {
  width: 346px;
}
@media screen and (max-width: 1099px) {
  .home__list.active .home__write {
    max-width: 300px;
  }
}
.home__list.active .home__text {
  display: none;
}
.home__list.active .home__link {
  display: none;
}
.home__list.active .home__title {
  margin-top: 14px;
  font-size: 18px;
  line-height: 24px;
}
.avtor{
  display: flex;
  margin-top: 30px;
}
.avtor__link{
  text-decoration: none;
}
.avtor__img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.avtor__name{
  margin-left: 24px;
  color: #2D2D2D;
  font-style: italic;
  margin-top: 5px;
}
.popular__title{
  margin-top: 50px;
  font-size: 32px;
  line-height: 49px;
}