header{
   margin-top: 20px;
   padding: 5px 0;
}
header img{
   width: 146px;
   height: 49px;
}
.header__content{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header__list{
   display: flex;
   align-items: center;
   list-style-type: none;
}
@media screen and (max-width: 960px) {
   .header__list{
      display: block;
      position: fixed;
      top: 100px;
      left: -300px;
      width: 250px;
      height: 100vh;
      background-color: #fff;
      z-index: 1000;
      transition: .4s ease-out;
   }
   .header__item{
      margin: 20px 0;
      margin-left: 40px !important;
   }
}
.header__item{
   margin-left: 40px;
}
@media screen and (max-width: 1099px) {
   .header__item{
      margin-left: 24px;
   }
}
@media screen and (max-width: 998px) {
   .header__item{
      margin-left: 15px;
   }
}
.header__item:nth-child(1){
   margin-left: 0;
}
.header__link {
   text-decoration: none;
   color: #000;
   line-height: 24px;
   padding: 5px 0;
   border-bottom: 2px solid transparent;
   transition:  .3s ease-in border-bottom;
}
.header__link:hover{
   border-bottom: 2px solid #1B5BF7;
}
.header__login .login__btn{
   border: none;
   line-height: 16px;
   font-weight: 500 ;
   color: #fff;
   background-color: #1B5BF7;
   border-radius: 8px;
   padding: 16px;
   cursor: pointer;
}
.header__logo{
   display: flex;
   align-items: center;
}
.burger__menu{
   display: none;
   margin-right: 24px;
   height: 30px;
   position: relative;
}
@media screen and (max-width: 960px) {
   .burger__menu{
      display: block;
   }
   .show{
      left: 0px;
   }
}

.menu__block{
   pointer-events: none;
   display: inline-block;
   width: 30px;
   height: 4px;
   border-radius: 10px;
   background-color: #333 !important;
}
.menu__block::before, .menu__block::after{
   position: absolute;
   content: '';
   display: inline-block;
   width: 30px;
   height: 4px;
   border-radius: 10px;
   background-color: #333;
}
.menu__block::before{
   content: '';
   top: 0;
   /* transform: translateY(-5px); */
} 
.menu__block::after{
   content: '';
   bottom: 3px;
   /* transform: translateY(-5px); */
} 

.modal__hide{
   display: none;
}

.modal{
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(2, 2, 2, .7);
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 2000;
}

.modal__content{
   padding: 60px;
   background-color: #fff;
   width: 546px;
   border-radius: 8px;
}
.modal__title{
   text-align: center;
   letter-spacing: -0.006em;
   font-size: 32px;
   line-height: 24px;
   margin-bottom: 56px;
   color: #222222;
}
.modal__input{
   background: #EEF0F2;
   border-radius: 6px;
   padding: 17px;
   border: none;
   display: block;
   width: 100%;
   margin-bottom: 24px;
}
.modal__show{
   display: flex;
}
.modal__input:focus{
   outline: 2px solid #1B5BF7;
}
.modal__btn{
   background: #1B5BF7;
   border-radius: 6px;
   border: none;
   width: 100%;
   padding: 17px 0;
   color: #fff;
   font-weight: 700;
   cursor: pointer;
   margin-top: 24px;
}

.user__token--link{
   font-size: 36px;
   color: #1B5BF7;
}