footer {
  background: #f9f9f9;
  padding: 40px 0;
}
.footer__intro {
  max-width: 395px;
}
.info__footer {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .info__footer {
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}
}

.footer__logo {
  width: 103px;
  height: 35px;
  margin-bottom: 25px;
}
.footer__text {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #1e2833;
}

@media screen and (max-width: 768px) {
   .footer__text{
      margin-bottom: 24px;
   }
}
.footer__item {
  margin-bottom: 20px;
  line-height: 19px;
  letter-spacing: -0.204545px;
  color: #1e2833;
}
.footer__item h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: -0.231818px;
}
@media screen and (max-width: 768px) {
   .footer__list{
      margin-bottom: 48px;
   }
}
.footer__bottom {
  margin-top: 20px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #1e2833;
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
   .footer__bottom{
      text-align: center;
   }
}
