@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
body.hidden{
  overflow: hidden;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}
ul {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
